@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

body {
  background: #1c2431;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
}

select {
  border-radius: 20px;
  width: 64px;
  height: 34px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #62e0d9;
  background-color: #1c2431;
  color: white;
}

.header-text {
  letter-spacing: -1px;
  font-weight: 100;
  color: #ffff;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.logo {
  color: #62e0d9;
  opacity: 40%;
}

.select-menu {
  margin: 10px 10px;
}

.input-style {
  width: 281px;
  height: 65px;
  font-weight: 700;
  font-size: 60px;
  text-align: right;
  background-color: #1c2431;
  border: none;
  border-bottom: 0.5px solid #62e0d9;
  color: white;
  outline: none;
}

div.number-input,
div.pln-input {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

div.number-input p,
div.pln-input p {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  color: white;
  opacity: 50%;
}

.convert {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px 30px 10px;
  position: relative;
}

.button {
  background-color: rgba(99, 225, 159, 1);
  background-image: linear-gradient(144deg, rgba(99, 225, 159, 1) 0%, rgba(52, 160, 205, 1) 100%);
  border: none;
  border-radius: 24px;
  width: 144px;
  height: 48px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffff;
  margin: 64px 30px 54px 30px;
}

.loader {
  width: 50px;
  height: 50px;
  border: 10px solid #63e19f;
  border-top-color: #34a0cd;
  border-radius: 50%;
  top: 39%;
  left: 36%;
  transform: translate(-50%, -50%);
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.loader-hidden {
  display: none;
}

@media screen and (min-width: 450px) {
  .container {
    width: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: rgba(52, 160, 205, 1);
    background-image: linear-gradient(144deg, rgba(52, 160, 205, 1) 0%, rgba(99, 225, 159, 1) 100%);
    cursor: pointer;
  }
}
